.loginPage {
  width: 100%;
  background-image: url("./Login/image/Fondo-Login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.text {
  text-align: center;
  font-size: 25px;
}
