.loginPage {
  width: 100%;
  background-image: url("./image/Fondo-Login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
}

.form {
  background-color: rgba(0, 0, 0, 0.8);
  width: 662px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
}
